<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizzeria Italy PSW</title>
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar">
  <a href="http://localhost:4200" class="logo">Pizzeria Italy PSW</a>
<header>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/ordine" routerLinkActive="active">I Miei Ordini</a></li>
    </ul>
  </nav>
</header>
  <router-outlet></router-outlet>
</nav>
</body>
</html>
